@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-3">Welcome to Corkboard!</h1>
    <p class="lead student-message">This is an ongoing text/connection web page that is being made by and altered by Clover Park students, and will have more features added in time as well as changes over it's developmental cycles.</p>
</div>
