@model List<Corkboard.Models.Server>
@{
}

<h1>Servers</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Member Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var server in Model)
        {
            <tr>
                <td><a asp-action="Details" asp-route-id="@server.Id">@server.Id</a></td>
                <td>@server.Name</td>
                <td>@server.MemberCount</td>
            </tr>
        }
    </tbody>
</table>